/* 
// GEOM90007_2021 - Information Visualisation
// Assignment 3 - Interactive Data Visualisation for the Web
// Date: 10/10/2022

// Student Names/Numbers: 
//  

// This CSS relates to homepage.html.
*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
  margin: 0;
  max-width: 100%; 
    overscroll-behavior: none;
  }
  
  h4 {
    font-family: 'Raleway', sans-serif;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0 !important;
    margin-left: 0;
    margin-right: 0;
    color: #fff;
    
  }
  
  h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600 !important;
    margin-bottom: 0px !important;
    color:#fff;
  }
  
  p {
    margin-bottom: 0 !important;
    color: #fff;
  }


  /* ############## header and footer####### */
.page_header_item {
    /* flex: 1; */
    order: 1;  
    background-color:#00457C; /*#00457C*/
    text-align: center;
    /* padding: 15px;  */
    height: 70px;
    width: 100%;
    top:0;
    
  }

  .page1 {
   
    top: 70px;
    height: 800px;
    bottom: 70px;
  }
  .page2 {
    top: 70px;
    height: 800px;
    bottom: 70px;
  }

.page_footer_item {
  background-color:#00457C;
  height: 70px;
  padding: 0;
  width: 100%;
  bottom:0;
  

}
  


/* #########  button tab ########## */
.tab{ 
  
  float: right;
  width: 10%;
  padding-top: 0;
  height: 500px;
  text-align: center;
  
}

button {
  border-width: 0;
  background-color: #fff;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 0px;
  transition: 0.3s;
  width: 100px;
 
  /* border: 2px solid #ddd;  */
}

/* Change background color of buttons on hover */
.tab button:hover {
   background-color: #ccc;/* #ddd */
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #fff;
  border: 0;
}

/* ###### page 1 ######## */


.page1 div.graph1{
  width: 45%;
  float: left;
}

.page1 div.graph2 {
  width: 45%;
  float: left;
}


/* ###### page 2 ######## */

.page2 div.graph3 {
  width: 90%;
  float: left;
}



/* ###### image and text ######## */
.imageandtext {
  width: 10%;
  float: right;
  text-align: center;
 
  

}

/* ###### footer ######## */

.copyright {
  margin: 20px 0 0 0;
}

.copyright p {
  font-size: 16px;
  color: #fff;
  margin: 0;
}

.copyright a{
  color:#EBDFC2;
}


.links a {
  color:#EBDFC2;
}

.links {
  float: center;
  color:#fff;
  /* margin-bottom: 20px; */
}
.links p {
  margin-top: 2px;
}


.wheretolive {
  color:#407BFF;
}

.wheretogo {
  color: rgb(175, 172, 172); /*#ff725e; */
  word-spacing: 5px;
  
}

.whentogo{
  color: rgb(175, 172, 172); /* #74cc8d;*/
  word-spacing: 5px;
 
}

.left{ position:relative; top: 200px; left:0; width:1600px; height:500px; background-color:#CCCCCC} ;
.right{ position:relative; top:100px; right:10px; width:400px; height:1000px} ;


/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
