/* 
// GEOM90007_2021 - Information Visualisation
// Assignment 3 - Interactive Data Visualisation for the Web
// Date: 10/10/2022

// Student Names/Numbers: 
//  

// This CSS relates to homepage.html.
*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
  margin: 0;
    height: 100%;
    width: 100%;
    overscroll-behavior: none;
  }
  
  h4 {
    font-family: 'Raleway', sans-serif;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0 !important;
    margin-left: 0;
    margin-right: 0;
    color: #fff;
    
  }
  
  h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600 !important;
    margin-bottom: 0px !important;
    color:#fff;
  }
  
  p {
    margin-bottom: 0 !important;
    color: #fff;
  }

  /* Containers */
.page_header_item {
    /*flex: 1;*/
    order: 1;  
    background-color:#00457C; /*#00457C*/
    text-align: center;
    /* padding: 15px; */
    height: 80px;
   
  }

.page_footer_item {
  background-color:#00457C;
  height: 70px;
  padding: 0;
  margin: 0;

}
   /* Tab */

/* Style the tab */
.tab { 
  overflow: hidden;
  padding-top: 24px;
  /* border: 1px solid #ccc; */
 
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 24px 16px;
  transition: 0.3s;
  width: 110px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */


.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.divider {
  width: 100%;
  height:1px;
  position: relative;
  background-color: #fa83345c;
}
.divider-text{
  position: absolute;
  background-color: #FFF;
  padding: 0 20px;
  color:#fff;
  left: 20px;
  transform: translateY(-50%);
}

.div1 {
  margin-left: calc(5vw);
  width: calc(50vw);
  height: calc(50vh);
  border: 2px solid rgb(12, 12, 15);
}

.div2 {
  margin-right: 10px;
}

.div3 {
  margin-left: calc(5vw);
  width: 2000px;
  height: 1000px;
  border: 2px solid rgb(12, 12, 15);
}



.footer .w {
  /* margin-top: 35px; */
  /* padding-top: 35px; */
 
}

.copyright {
  float: center;
  margin: 10px 0 3px 0;
}

.copyright p {
  font-size: 20px;
  color: #fff;
  margin: 0;
}



.links {
  float: center;
  color:#fff;
  /* margin-bottom: 20px; */
}

/* .links dl {
  float: left;
  margin-left: 100px;
}

.links dl dt {
  font-size: 22px;
  color: #fff;
  margin-bottom: 5px;
}

.links dl dd a {
  color: #fff;
  font-size: 20px;
} */

.wheretolive {
  color:#407BFF;
}

.wheretogo {
  color:#ff725e;
}

.whentogo {
  color: #74cc8d;
}

.left{ position:relative; top: 200px; left:0; width:1600px; height:500px; background-color:#CCCCCC} ;
.right{ position:relative; top:100px; right:10px; width:400px; height:1000px} ;


/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
