/* 
// GEOM90007_2021 - Information Visualisation
// Assignment 3 - Interactive Data Visualisation for the Web
// Date: 10/10/2022

// Student Names/Numbers: 
//  

// This CSS relates to homepage.html.
*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
  margin: 0;
  max-width: 100%; 
    overscroll-behavior: none;
  }


.headerimage {
  padding-top: 3px;
}
.headerimage p {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 0;
 
}

  h4 {
    font-family: 'Raleway', sans-serif;
    display: block;
    font-size: 20px;
    height: 2px;
    color: #fff;
    text-align: center;
    /* margin-left: 60px; */
   
    margin-top: 0px;
  
    
  }
  
  h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600 !important;
    margin-bottom: 0px !important;
    color:#fff;
  }
  
  p {
    margin-bottom: 0 !important;
    color: #fff;
  }


  /* ############## header and footer####### */


.page_header_item {
    /* flex: 1; */
    order: 1;  
    background-color:#00457C; /*#00457C*/
    text-align: center;
    /* padding: 15px;  */
    height: 80px;
    width: 100%;
    top:0;
    
  }

  .page1 {
    top: 80px;
    /* height: 827px; */
    bottom: 70px;
  }
  .page2 {
    top: 80px;
    /* height: 100vh; */
    bottom: 70px;
  }
  .page3 {
    top: 80px;
    /* height: 100vh; */
    bottom: 70px;
  }

.page_footer_item {
  background-color:#00457C;
  height: 70px;
  padding: 0;
  width: 100%;
  bottom:0;
  margin-top: 3vh;
}
  


/* #########  button tab ########## */
.tab{ 
 
  /* float: left; */
  width: 280px;
  padding-top: 0px;
  margin-top: 0;
  height: 40px;

  
}

button {
   border-radius: 5px 5px 0 0; 
   /* border-radius: 5px; */
  background-color: #fff;
  color: rgb(175, 172, 172);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 3px 0;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
  width: 120px;
  font-weight: 900;
  
  
 
  /* border: 2px solid #ddd;  */
}

/* Change background color of buttons on hover */
.tab button:hover {
   background-color: #ccc;/* #ddd */
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #fff;
  border: 0;
}
.defaultOpen {
  background-color: #fff;
}

/* ######### dropdown menu ###########*/
.dropdown:hover .DropdownButtons {
  display: block;
}

.DropdownButtons {
  display: none;
  z-index: 2000;
  top: 80px;   
  /* 80px */
  border-radius: 5px;
  text-align: center;
  width: 120px;
  margin: 0px;
  padding: .2% 0% .2% 0%;
  transition: 0.3s;
  position: fixed;
  background-color:#fff;

}
.DropdownButtons p:hover {
  background-color: #00447ca3;/* #ddd */
}

.DropdownButtons p {
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 600;


  
  line-height:25px;

  height: 25px;
  color: rgb(175, 172, 172);
  text-decoration: none;
  
  margin: .6% .5% .6% .5%;
  padding: 1px;
  transition: 0.3s;
}






/* ###### page 1 ######## */


.page1 div.graph1{
  width: calc(100vw - 720px);
  height: 827px;
  float: left;
}

.page1 div.graph2 {
  width: 700px;
  height: 827px;
  float: right;
}


/* ###### page 2 ######## */

.page2 div.graph3 {
  width: 100%;
  height: 100vh;
  float: left;
}

.page2 div.graph4 {
  width: 100%;
  height: 100vh;
  float: left;
}



/* ###### footer ######## */

.copyright {
  margin: 20px 0 0 0;
}

.copyright p {
  font-size: 16px;
  color: #fff;
  margin: 0;
}

.copyright a{
  color:#EBDFC2;
}


.links a {
  color:#EBDFC2;
}

.links {
  float: center;
  color:#fff;
  /* margin-bottom: 20px; */
}
.links p {
  margin-top: 2px;
}


.wheretolive {
  color:#407BFF;
}

.wheretogo {
  color: rgb(175, 172, 172); /*#ff725e; */
  word-spacing: 5px;
  
}

.whentogo{
  color: rgb(175, 172, 172); /* #74cc8d;*/
  word-spacing: 5px;
 
}

.left{ position:relative; top: 200px; left:0; width:1600px; height:500px; background-color:#CCCCCC} ;
.right{ position:relative; top:100px; right:10px; width:400px; height:1000px} ;


/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
